@charset "UTF-8";

/***************** BODY AND TEXT STYLES *******************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #fff;
    margin-top: 60px;
}

h1, h2 {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 2.85em;
}

a {
    text-decoration: none;
    color: #bee69c;
}

.container, .section-header h2 {
    width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


/***************** HEADER STYLES *******************/

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #0f0b15;
    z-index: 999;
}

.navbar-logo {
    float: left;
    height: 60px;
    width: 86px;
    background-image: url('../assets/sjt_logo.png');
}

.navbar-logo:hover {
    background-position: center -60px;
}

.navbar-content {
    float: right;
}

.navbar-content {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    transition: all 200ms ease;
}

.navbar-content li {
    display: inline-block;
    margin-top: 0.5em;
}

.navbar-content li a {
    padding: 0.5em 0.85em;
    border-bottom: 0px;
    font-weight: bold;
    line-height: 60px;
}

.navbar-content li a:hover {
    border-bottom: 3px solid #bee69c;
}

#mobile-menu {
    background: #0f0b15;
    float: right;
    width: 60px;
    height: 60px;
    display: none;
    cursor: pointer;
}

#mobile-menu .hamburger {
    display: block;
    opacity: 1;
    height: 4px;
    overflow: hidden;
    width: 60%;
    margin: 12px auto 10px auto;
    background-color: #bee69c;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

#mobile-menu.active .hamburger:nth-of-type(1) {
    transform: translateY(16px) rotate(45deg);
}

#mobile-menu.active .hamburger:nth-of-type(2) {
    opacity: 0;
}

#mobile-menu.active .hamburger:nth-of-type(3) {
    transform: translateY(-16px) rotate(-45deg);
}

/***************** HERO STYLES *******************/

.hero {
    position: relative;
    height: 460px;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-video>video {
    width: 100%;
    margin-top: -200px;
}

.hero-info {
    position: relative;
    z-index: 1;
    color: #fff9f0;
    margin-top: 6em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-info h1 {
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black;
}

.hero-info h3 {
    text-shadow: 1px 1px black;
}


/***************** MAIN CONTENT STYLES *******************/

.section-header {
    padding: 1em;
    background-color: #2c2831;
    color: #fff9f0;
}

.section-content {
    padding: 2em 0;
}


/***************** @media STYLES *******************/

@media screen and (max-width: 1200px) {
    .container, .section-header h2 {
        width: 100%;
    }
    .hero-video>video {
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 580px) {
    body {
        font-size: 14px;
    }
    .navbar-content li, #mobile-menu {
        display: block;
    }
    .navbar-content li {
      text-align: center;
      font-size: 2em;
    }
    .navbar-content {
        overflow: hidden;
        height: 0;
        padding-bottom: 6px;
        width: 100%;
        float: none;
        background: #0f0b15;
    }
    .navbar-content.active {
        height: 444px;
    }
}
