@charset "UTF-8";

/***************** BODY AND TEXT STYLES *******************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #e1dbe8;
    margin-top: 60px;
}

h1, h2 {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: #bee69c;
}

.container, .section-header h2 {
    width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


/***************** HEADER STYLES *******************/

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #0f0b15;
    z-index: 999;
}

.navbar-logo {
    float: left;
    height: 60px;
    width: 86px;
    background-image: url('../assets/sjt_logo.png');
}

.navbar-logo:hover {
    background-position: center -60px;
}

.navbar-content {
    float: right;
}

.navbar-content {
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    margin: 0;
    transition: all 200ms ease;
}

.navbar-content li {
    display: inline-block;
    margin-top: 0.5em;
}

.navbar-content li a {
    padding: 0.5em 0.85em;
    border-bottom: 0px;
    font-weight: bold;
    line-height: 60px;
}

.navbar-content li a:hover {
    border-bottom: 3px solid #bee69c;
}

#mobile-menu {
    background: #0f0b15;
    float: right;
    width: 60px;
    height: 60px;
    display: none;
    cursor: pointer;
}

#mobile-menu .hamburger {
    display: block;
    opacity: 1;
    height: 4px;
    overflow: hidden;
    width: 60%;
    margin: 12px auto 10px auto;
    background-color: #bee69c;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

#mobile-menu.active .hamburger:nth-of-type(1) {
    transform: translateY(16px) rotate(45deg);
}

#mobile-menu.active .hamburger:nth-of-type(2) {
    opacity: 0;
}

#mobile-menu.active .hamburger:nth-of-type(3) {
    transform: translateY(-16px) rotate(-45deg);
}


/***************** HERO STYLES *******************/

.hero {
    position: relative;
    height: 520px;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-video>video {
    width: 100%;
    margin-top: -200px;
}

.hero-info {
    position: relative;
    z-index: 1;
    color: #fff9f0;
    margin-top: 6em;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-info h1 {
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black;
}

.hero-info h3 {
    text-shadow: 1px 1px black;
}


/***************** MAIN CONTENT STYLES *******************/

.section-header {
    padding: 3.75em 1em 1em 1em;
    background-color: #2c2831;
    color: #fff9f0;
}

.section-content {
    box-sizing: border-box;
    padding: 2em 1em;
    overflow: hidden;
    position: relative;
}

.section-background {
    background-color: rgba(44, 42, 49, 0.5);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/***************** WHO? Section *******************/

#section-who {
    background-image: url('../assets/spacewalk_background.jpg');
}

.people-container {
    width: 400%;
    margin: 0 auto;
    padding: 1em 0;
    overflow: hidden;
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-around;
    transition: left 300ms ease;
}

.people-arrow {
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 2em;
    line-height: 1.15em;
    background-color: #2c2831;
    color: #394034;
    top: 45%;
}

.people-arrow.active {
    color: #bee69c;
}

.right-arrow {
    border-radius: 0 0.25em 0.25em 0;
    right: 0.5em;
}

.left-arrow {
    border-radius: 0.25em 0 0 0.25em;
    left: 0.5em;
}

.person-container {
    background-color: #e1dbe8;
    padding: 2em;
    width: 23%;
    border-radius: 1em;
    box-sizing: border-box;
    display: inline-block;
}

.person-avatar {
    width: 300px;
    margin-right: 2em;
    border-radius: 50%;
    float: left;
}

.person-name {
    font-size: 1.75em;
    font-family: 'Space Mono', monospace;
    line-height: 1em;
    margin: 1em;
}

.person-title {
    font-size: 1.5em;
}

.person-description {
    margin-bottom: 0;
    display: table;
}


/***************** @media STYLES *******************/

@media screen and (max-width: 1300px) {
    .hero-video>video {
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 1000px) {
    .container, .section-header h2 {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .person-avatar {
        width: 35%;
        min-width: 180px;
    }
    .person-name {
        font-size: 1.5em;
        margin: 0.5em;
    }
    .person-title {
        font-size: 1.25em;
    }
    .right-arrow {
        right: 0.25em;
    }
    .left-arrow {
        left: 0.25em;
    }
}

@media screen and (max-width: 580px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 3em;
    }
    .navbar-content li, #mobile-menu {
        display: block;
    }
    .navbar-content li {
        text-align: center;
        font-size: 2em;
    }
    .navbar-content {
        overflow: hidden;
        height: 0;
        padding-bottom: 6px;
        width: 100%;
        float: none;
        background: #0f0b15;
    }
    .navbar-content.active {
        height: 444px;
    }
    .person-avatar {
        display: block;
        float: none;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 2em auto;
    }
    .person-name {
        width: 100%;
        margin: 0;
    }
    .person-title {
        width: 100%;
    }
    .people-arrow {
        line-height: 1.25em;
    }
    .right-arrow {
        right: 0;
    }
    .left-arrow {
        left: 0;
    }
}

@media screen and ( max-height: 520px) {
    .hero {
        height: 320px;
    }
    .hero-info {
        margin-top: 0;
        padding: 1em;
    }
}
